<!--PRELOADER-->
<div id="preloader" style="background-image: url('/assets/capa-site.jpg');     background-position: top center; background-size: cover;">
  <div class="alignment">
    <div class="v-align center-middle">
      <!-- LEFT HEART -->
      <div class="heart-animation">                 
        <i class="de-icon-heart"></i>
      </div>
      <!-- RIGHT HEART -->
      <div class="heart-animation-reverse">
        <i class="de-icon-heart"></i>
      </div>
    </div>
  </div>
</div>
<!--END of PRELOADER-->
<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">
  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper" style="background-image: url('/assets/capa-site.jpg'); background-position: top center; background-size: cover;">
    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper" style="background: rgba(0,0,0,0.50);">
      <!-- TITLE 2 -->
      <div class="slide-title align-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">
              <div id="invited">
                Você Está Convidado
              </div>
              <div class="banner-text withlove medium light">
                <h1>VAMOS NOS CASAR</h1>
              </div>
              <div id="banner-date">
                - 14 / MAIO / 2016 -
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END of MAIN SLIDER TITLE INNER WRAPPER -->
  </div>
  <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
  <!-- MAIN SLIDER IMAGES -->
  <ul class="slides">
    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:top center">
      </div>
      <!-- SLIDE OVERLAY -->  
      <div class="slide-overlay" style="opacity:0"> </div>
    </li>
  </ul>
  <!-- END of MAIN SLIDER IMAGES -->
  <!-- NAVIGATION -->
  <header id="nav-header">
    <nav id="nav-bar" class="bottom-bar outside fluid-width block-color nav-center sticky-nav animation fadeIn">
      <div id="nav-wrapper">
        <!-- LOGO -->
        <div class="logo-wrapper">
          <!-- CSS LOGO --> 
          <a href="index.html">
            <div class="css-logo rounded">
              <div class="css-logo-text">
                <strong>N</strong><i class="de-icon-heart-1"></i><strong>G</strong>
              </div>
            </div>
          </a>
          <!-- IMG LOGO 
            <div class="img-logo">
              <img src="images/slide1.jpg">
            </div>-->
        </div>
        <!-- END of LOGO -->
        <div id="mobile-nav">
          <i class="de-icon-menu"></i>
        </div>
        <ul id="nav-menu" class="nav-smooth-scroll">
          <li class="first-child">
            <a href="#main-slider">HOME</a>
          </li>
          <li>
            <a href="#where-when">ONDE &amp; QUANDO</a>
          </li>
          <li>
            <a href="#more-events">EVENTO</a>
          </li>
          <li class="first-child split-margin"> 
            <a href="#groomsmen-section">PADRINHOS</a>
          </li>
          <li>
            <a href="#bridesmaid-section">MADRINHAS</a>
          </li>
          <li>
            <a href="#rsvp-section">CONFIRMAÇÃO</a>
          </li>
        </ul>
        <div class="clearboth"></div>
      </div>
    </nav>
  </header>
  <!-- END of NAVIGATION -->
</section>
<!-- ENF of MAIN SLIDER -->
<!--CONTENT SECTION-->
<section id="content">
  <!--COUPLE SECTION-->
  <section id="couple">
    <div class="container">
      <div class="row">
        <!-- SECTION CONTENT -->
        <div class="col-md-6">
          <!--PHOTO-ITEM-->
          <div class="photo-item frame-border animation fadeInLeft">
            <!--PHOTO-->
            <img src="/assets/gus.jpg" alt="" class="hover-animation image-zoom-in">
            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->
            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">
                  <a href="http://placehold.it/700x467" class="magnific-zoom">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-zoom-in"></i>
                    </div>
                  </a>
                  <a class="magnific-ajax" href="him.html" >
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-link"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!--END of ICON LINK-->
          </div>
          <!--END of PHOTO-ITEM-->   
          <div class="his-her-name">
            <h2 class="text-center">GUSTAVO<span class="last-name">-&nbsp;De Paiva&nbsp;-</span></h2>
            <div class="heart-wrapper">
              <div class="de-icon circle medium-size custom-heart">
                <i class="de-icon-heart"></i>
              </div>
            </div>
          </div>
          <p class="blurb animation fadeInLeft text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
          </p>
        </div>
        <div class="col-md-6">
          <!--PHOTO-ITEM-->
          <div class="photo-item frame-border animation fadeInRight">
            <!--PHOTO-->
            <img src="/assets/nath.jpg" alt="" class="hover-animation image-zoom-in">
            <!--PHOTO OVERLAY-->
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
            <!--END of PHOTO OVERLAY-->
            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">
                  <a href="http://placehold.it/700x467" class="magnific-zoom">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-zoom-in"></i>
                    </div>
                  </a>
                  <a class="magnific-ajax" href="her.html">
                    <div class="de-icon circle light medium-size inline">
                      <i class="de-icon-link"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!--END of ICON LINK-->
          </div>
          <!--END of PHOTO-ITEM-->    
          <div class="his-her-name">
            <h2 class="text-center">NATHÁLIA<span class="last-name">-&nbsp;Cavalcante&nbsp;-</span></h2>
          </div>
          <p class="blurb animation fadeInRight text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
          </p>
        </div>
      </div>
    </div>
  </section>
    <!-- GROOMSMEN SECTION -->
  <section id="groomsmen-section">
    <div class="container">
      <!-- ROW-1 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="section-title animation fadeInUp">
            <h2>
              PADRINHOS
            </h2>
            <p>
              Não poderiamos dizer sim sem vocês ao nosos lado nesse momento tão importante.s 
            </p>
          </div>
        </div>
      </div>
      <!-- END of ROW-1 -->
      <!-- ROW-2 -->
      <div class="row">
        <!--GROOMSMEN-1-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">IRMÃO</a></h3>
              <p>Luciano de Paiva</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-1-->
        <!--GROOMSMEN-2-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">IRMÃO</a></h3>
              <p>Bahia de Paiva</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-2-->
        <!--GROOMSMEN-3-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">IRMÃO</a></h3>
              <p>Lucas Oliveira</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-1-->
        <!--GROOMSMEN-4-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">AMIGO</a></h3>
              <p>Oney Araujo</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-4-->
        <!--GROOMSMEN-5-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">AMIGO</a></h3>
              <p>Matheus Thomé</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-5-->
        <!--GROOMSMEN-6-->
        <div class="col-md-4">
          <!--GROOMSMEN-ITEM-->
          <div class="groomsmen-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">FUTURO CUNHADO</a></h3>
              <p>Hebert Cavalcante</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of GROOMSMEN-ITEM-->
        </div>
        <!--END of GROOMSMEN-6-->
      </div>
      <!-- END of ROW-2 -->
    </div>
  </section>
  <!-- PHOTO DIVIDER -->
  <section id="photo-divider-3">
    <div class="image-divider fixed-height" style="background-image:url('/assets/transicao4.jpg'); height:450px" data-stellar-background-ratio="0.3">
    </div>
  </section>
  <!-- BRIDESMAID SECTION -->
  <section id="bridesmaid-section">
    <div class="container">
      <!-- ROW-1 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="section-title animation fadeInUp">
            <h2>
              MADRINHAS
            </h2>
            <p>
               Não poderiamos dizer sim sem vocês ao nosos lado nesse momento tão importante.
            </p>
          </div>
        </div>
      </div>
      <!-- END of ROW-1 -->
      <!-- ROW-2 -->
      <div class="row">
        <!--BRIDESMAID-1-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">AMIGA</a></h3>
              <p>Bruna Cibrão</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-1-->
        <!--BRIDESMAID-2-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">PRIMA</a></h3>
              <p>Nastassia cavalcante</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-2-->
        <!--BRIDESMAID-3-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">PRIMA</a></h3>
              <p>Lana Cavalcante</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-3-->
        <!--BRIDESMAID-4-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">AMIGA</a></h3>
              <p>Nicolle Rocha</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-4-->
        <!--BRIDESMAID-5-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">AMIGA</a></h3>
              <p>Joyce Carvalho</p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-5-->
        <!--BRIDESMAID-6-->
        <div class="col-md-4">
          <!--BRIDESMAID-ITEM-->
          <div class="bridesmaid-item">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animation fadeIn">
              <!--PHOTO-->
              <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
              <!--PHOTO OVERLAY-->
              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
              </div>
              <!--END of PHOTO OVERLAY-->
              <!--ICON LINK-->
              <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                  <div class="v-align center-middle">
                    <a href="http://placehold.it/293x325" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->   
            <!-- TITLE & EXCERPT -->
            <div class="title-excerpt animation fadeIn text-center">
              <h3 class="no-margin"><a href="#">CUNHADA</a></h3>
              <p>Mariana </p>
            </div>
            <!-- END of TITLE & EXCERPT -->
          </div>
          <!--END of BRIDESMAID-ITEM-->
        </div>
        <!--END of BRIDESMAID-6-->
      </div>
      <!-- END of ROW-2 -->
    </div>
  </section>
  <!-- PHOTO DIVIDER -->
  <section id="photo-divider-1">
    <div class="image-divider fixed-height" style="background-image:url('/assets/transicao1.jpg'); height:500px" data-stellar-background-ratio="0.3">
    </div>
  </section>
  <!-- WHERE WHEN SECTION -->
  <section id="where-when">
    <div class="container">
      <!-- ROW-1 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="section-title animation fadeInUp">
            <h2>
              ONDE <span class="and">&amp;</span> QUANDO
            </h2>
          </div>
        </div>
      </div>
      <!-- END of ROW-1 -->
      <!-- ROW-2 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center">
          <div class="banner-text dark full animation fadeIn">
            <div class="row">
              <div class="col-md-4">
                <h3>14 / MAIO / 2015</h3>
              </div>
              <div class="col-md-4">
                <div class="border-column">
                  <h3>SETE E MEIA DA NOITE</h3>
                </div>
              </div>
              <div class="col-md-4">
                <h3>PAROQUIA IMACULADO CORAÇÃO DE MARIA</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END of ROW-2 -->
      <!-- ROW-3 -->
      <div class="row">
        <div class="col-md-6 animation fadeIn">
          <div class="de-icon circle small-size inline" style="background-color:#f0394d">
            <i class="de-icon-heart"></i>
          </div>
          <h3 class="inline">CERIMONIA</h3>
          <p>PAROQUIA IMACULADO CORAÇÃO DE MARIA - SMPW Q. 5 conj. 13 Lt 01 AE   CEP: 71735-513  Park Way</p>
          <div class="de-icon circle small-size inline" style="background-color:#f6700e">
            <i class="de-icon-food"></i>
          </div>
          <h3 class="inline">RECEPÇÃO</h3>
          <p>Espaço Porto Crista  l - SHA Conjunto 05, Chácara 31, Arniqueiras Park Way / DF - CEP 71.995-25</p>
          <div class="de-icon circle small-size inline" style="background-color:#0d9a48">
            <i class="de-icon-coffee"></i>
          </div>
          <h3 class="inline">Chá de Panela</h3>
          <p>SMPW Quadra 05 Conjunto 05 Lote 06 - CEP: 71735-505 Park Way</p>
        </div>
        <div class="col-md-6 animation fadeIn">
          <div id="map-canvas" style="border:15px solid #FFF; margin-top:20px;"></div>
        </div>
      </div>
      <!-- END of ROW-3 -->
    </div>
  </section>
  <section id="attending">
    <div class="image-divider auto-height" style="background-image:url('/assets/transicao2.jpg');" data-stellar-background-ratio="0.3">
      <div class="divider-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <div class="banner-text withlove large light animation fadeInUp">
              <h2 class="h1">VOCÊ VAI?</h2>
            </div>
            <div class="text-center animation fadeInUp">
              <p>Confirme sua presença!</p>
            </div>
            <div  class="text-center">
              <a href="#rsvp-section" class="smooth-scroll de-button outline medium animation fadeInUp">
              Confirmação
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- GIFT REGISTRY SECTION -->
  <section id="gift-section">
    <div class="container">
      <!-- ROW-1 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="section-title animation fadeInUp">
            <h2>
             Sugestões de presentes
            </h2>
            <p>
              Seguem os links de sugestões de presentes do chá de panela 
            </p>
          </div>
        </div>
      </div>
      <!-- END of ROW-1 -->
      <!-- ROW-1 -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <div id="registry-logo" class="owl-carousel">
            <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
            <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
            <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
            <div class="item"> <a href="#"> <img src="http://placehold.it/249x67g" alt=""> </a> </div>
            <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="dont-miss-it">
    <div class="image-divider auto-height" style="background-image:url('/assets/transicao3.jpg');" data-stellar-background-ratio="0.3">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h2 id="dont-miss-it-title" class="text-center animation fadeInUp">Contamos com sua presença</h2>
            <div class="text-center animation fadeInUp">
              <p>Sua presença é muito importante para alegrar nosso dia.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div id="date-countdown" class="circle-countdown animation fadeInUp"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- RSVP SECTION -->
  <section id="rsvp-section">
    <div class="container">
      <!-- ROW-1 -->
      <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="section-title animation fadeInUp">
            <h2>
              Confirmação
            </h2>
            <p>
              Confirme sua presença para o chá de panela até o dia: 21/02
            </p>
            <p>
              Confirme sua presença para a cerimônia até o dia: 14/04
            </p>
            <p>
              Ou pelo email: nathaliaegustavo2016@gmail.com
            </p>
          </div>
        </div>
      </div>
      <!-- END of ROW-1 -->
      <!-- FORM -->
      <div class="row">
        <div id="message" class="col-md-12 message">
          <!-- Show Message --> 
        </div>
        <%= form_tag(controller: "home", action: "confirm", method: "post") do%>
          <div class="col-md-6">
            <div id="fullname" class="form-group">
              <%= label_tag(:nome, "*NOME") %>
              <%= text_field_tag(:nome, nil, class: 'form-control ajax-input') %>
            </div>
            <div id="email" class="form-group">
              <%= label_tag(:email, "*EMAIL") %>
              <%= text_field_tag(:email, nil, class: 'form-control ajax-input') %>
            </div>
            <div id="qtd" class="form-group">
              <%= label_tag(:qtd_pessoas, "*Quantas pessoas") %>
              <%= text_field_tag(:qtd_pessoas, nil, class: 'form-control ajax-input') %>
            </div>
            <div id="events" class="form-group">
              <%= label_tag(:eventos, "*VOÇÊ VAI EM") %>
              <%= select_tag(:eventos, options_for_select([['Chá de Panela', 1], ['Cerimônia e Recepção', 2]]), multiple: true, class: 'form-control') %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag(:menssagem, "DEIXE SUA MENSAGEM") %>
              <%= text_area_tag(:menssagem, nil,rows: 14, class: 'form-control ajax-input') %>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="submit" id="submitButton"  name="submitButton" class="button medium reverse" value="Enviar">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</section>
<!-- FOOTER SECTION -->
<footer>
  <div class="image-divider fixed-height" style="background-image:url('/assets/transicao5.jpg');" data-stellar-background-ratio="0.5" >
    <div class="divider-overlay"></div>
    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
    <div class="alignment">
      <div class="v-align center-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="animation fadeInUp">
                <div id="thank-you">
                  <div id="thank">Thank</div>
                  <div id="you">You</div>
                </div>
              </div>
              <div class="heart-divider animation delay1 fadeInUp">
                <span class="white-line"></span>
                <i class="de-icon-heart pink-heart"></i>
                <i class="de-icon-heart white-heart"></i>
                <span class="white-line"></span>
              </div>
              <div id="footer-couple-name" class="animation delay1 fadeInUp">
                NATHÁLIA & GUSTAVO
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>